// Define variables for your color scheme

// For example:
$blue: #5C80BC;
$yellow: #E8C547;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #30323D;

// brand
$base: #30323D;
$highlight: #5C80BC;

// complementary colors
$orange: #7e685d;
$red: #7e5d63;
$green: #5d7e68;
$pink: #7e5d73;
