#map {
  margin-top: 30px;
  width: 100%;
  height: 480px;
  border-radius: 15px;
}
.mapboxgl-canvas {
  width: 100%;
  height: 480px;
  padding: 32px 0;
  border-radius: 4px;
}

.lesson-show-container {
  padding-top: 32px;
  background: #FCFCFC;
  height: 100%;
}

.lesson-flex-box {
  display: flex;
}

.lesson-image {
  margin-right: 24px;
  width: 50%;
}

.lesson-image p {
  padding: 8px;
  color: #1A1A1A;
}

.lesson-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.lesson-desc {
  width: 50%;
}

.lesson-desc h1 {
  color: #1A1A1A;
  font-weight: bold;
}

.lesson-desc h2 {
  color: #696969;
  font-size: 24px;
}

.lesson-desc h3 {
  font-size: 20px;
  margin-left: 16px;
  font-weight: bold;
  color: #1A1A1A;
}
.lesson-creator-box {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.lesson-creator-box a {
  text-decoration: none;
  color: $highlight;
}
.lesson-desc-price {
  color: #1A1A1A;
}
.lesson-students li a {
  text-decoration: none;
  color: $highlight;
  margin: 0 8px 0 0;
}


@media all and (min-width: 480px) and (max-width: 991px) {
  .lesson-flex-box {
    flex-wrap: wrap;
  }

 .lesson-image img {
    margin-bottom: 32px;
  }

 .lesson-image{
    order: 2;
    margin: 32px 0;
    width: 100%;
  }

  .lesson-desc {
    order: 1;
    width: 100%;
  }

  .book-lesson-btn {
    width: 100%;
  }

}

@media all and (max-width: 480px) {
    .lesson-flex-box {
    flex-wrap: wrap;
  }

  .lesson-image{
    order: 2;
    margin: 32px 0;
    width: 100%;
  }

  .lesson-desc {
    order: 1;
    width: 100%;
  }

 }
