/* utility styles */

body {
  background-color: #f9fcfc;
}

.fill {
  min-height: 100vh;
  height: 100%;
  margin-bottom: 32px;
}

.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.round {
  border-radius: 4px;
}

.form-control {
    padding: 16px;
    border: none;
    border-radius: 64px;
    opacity: 1;
    border: 1px solid #dfdfdf;
    height: 50px;
}

.text-white {
  color: white;
}
