<div class="banner" style="background-image: linear-gradient(to left, rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(/assets/banner.jpeg);">
  <div class="container">
    <h1>Learn what you love</h1>
    <p>Explore hundreds of lessons today.</p>
  </div>
</div>
