<div class="container fill">
  <div class="header-section">
    <h1 class="text-left my-3">Lessons</h1>
    <% if current_user %>
      <div class="yellow-cta">
        <%= link_to "+ Add a Class", new_user_lesson_path(current_user) %>
      </div>
    <% end %>
  </div>
  <% @lessons.each do |lesson| %>
    <%= render 'lessons/card', lesson: lesson %>
  <% end %>
</div>
