.book-lesson-btn {
  width: 240px;
  height: 64px;
  margin-top: 8px;
  background: #F2CD5D;
  border-radius: 64px;
  font-weight: bold;
  font-size: 24px;
  transition: transform 0.5s;
  border: 0;
}

.book-lesson-btn:hover {
  transform: scale(1.03);
}

.yellow-cta {
  padding: 8px;
  background-color: #E8C547;
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-cta a{
  color: #696969;
  text-decoration: none;
}
