.book-lesson-btn {
  width: 320px;
  height: 64px;
  margin-top: 8px;
  background: #F2CD5D;
  border-radius: 4px;
  font-weight: bold;
  font-size: 24px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.book-lesson-btn:hover {
  transform: scale(1.03);
}

.yellow-cta {
  padding: 8px;
  background-color: #E8C547;
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-cta a{
  color: #696969;
  text-decoration: none;
}
.login-btn {
  margin-bottom: 16px;
}
