.footer {
  background: #5D737E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 16px;
  position: relative;
}
.footer p {
  color: #FCFCFC;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FCFCFC;
  opacity: 0.50;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #FCFCFC;
}
