.notice-yellow {

}

.notice-blue {
  padding: 8px;
  margin-top: 32px;
  color: #5C80BC;
  background-color: #b1d6e6;
  height: 48px;
  border-radius: 64px;
  border: 2px solid #5C80BC;
}

.notice-blue p {
  color: #5C80BC;
}
